div h2 {
    font-family: "Poppins", sans-serif;
    color: #03045e;
  }
  
  div a {
    font-family: "Poppins", sans-serif;
    color: #03045e;
    text-decoration: none;
  }
  
  div a:hover {
    text-decoration: underline;
  }
  
  .header-container {
    width: 70%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;
  }
  
  .header-container div {
    width: 300px;
    display: flex;
    justify-content: space-between;
  }
  